@{
    // ViewData["Title"] = "Check Email";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-container">
    <h2 class="form-title">Check Email</h2>
    <div class="form-container">
        <p>Password reset link has been sent to your email. Please check your inbox:</p>
        <a href="https://mail.google.com/mail/u/0/?ogbl#inbox" class="link-success">Click here</a>
    </div>
</div>
