@model ForgetPasswordViewModel
@{
    // ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-container">
    
    <div class="form-container">
        <h1 class="form-title">Forget Password</h1>
        <form asp-action="ForgetPassword">
            <label for="email" class="form-label">Email</label>
            <input id="email" class="form-control" type="email" asp-for="Email" placeholder="Enter your email" required />
            <input type="submit" class="btn-success" value="FORGET PASSWORD" />
        </form>
    </div>
</div>
