@model ResetPasswordViewModel
@{
    // ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-container">
    <h2 class="form-title">Reset Password</h2>
    <div class="form-container">
        <form asp-action="ResetPassword">
            <input asp-for="Email" type="hidden">
            <input asp-for="Token" type="hidden">
            <div class="input-group">
                <label asp-for="Password" class="form-label">Password</label>
                <input class="form-control" type="password" asp-for="Password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn-success">Reset Password</button>
        </form>
    </div>
</div>
