@model SignUpViewModel
@{
    // ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-container">
    <div class="form-container">
        <h2 class="form-title">Sign Up</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form asp-controller="Account" asp-action="SignUp" method="post">
            <div class="input-group">
                <label asp-for="Email" class="form-label">Email</label>
                <input class="form-control" type="email" asp-for="Email" placeholder="Email" required>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="input-group">
                <label asp-for="Password" class="form-label">Password</label>
                <input class="form-control" type="password" asp-for="Password" placeholder="Password" required>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="input-group">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="form-group">
                <label class="checkbox-label">
                    <input type="checkbox" asp-for="IsAgree" required>
                    <span>I Agree To The Terms & Conditions</span>
                </label>
            </div>
            <button type="submit" class="btn-success">SIGN UP</button>
            <p>Already have an Account? <a asp-action="Login" class="link-success">Login Now!</a></p>
        </form>
    </div>
</div>
