@model string

<td>
    <a asp-route-id="@Model" asp-action="Details" class="btn btn-success">
        <i class="fas fa-eye"></i> Details
    </a>
</td>
<td>
    <a asp-route-id="@Model" asp-action="Update" class="btn btn-warning">
        <i class="fas fa-edit"></i> Update
    </a>
</td>
<td>
    <a asp-route-id="@Model" asp-action="Delete" class="btn btn-danger">
        <i class="fas fa-trash"></i> Delete
    </a>
</td>
